**/build
/.idea
/ports
/conf
/cmds/ports
/cmds/conf
**/.venv
**/packages
**/tmp
**/buildtrees
**/downloads
**/installed
**/cachedir
**toolchain_file.cmake
**/__debug_*
**/token
**/ccache
**/snapshot-*
*.exe
celer
celer.toml